@layout('master')

@section('sidebar')
@super
  {{-- @super agar tidak menimpa file sidebar master  --}}
 
@endsection

@section('content')
  
  <h1>Belajar adonis di BWA</h1>
  <p>Pelajari keahlian baru yang dibutuhkan oleh startup atau perusahaan IT terbesar di seluruh dunia</p>
@endsection